<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="huette.kasse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kasse">
        <activity
            android:name=".activities.Uebersicht"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.Pay"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.EditDrink"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.EditDrinks" />
        <activity
            android:name=".activities.DeleteDrink"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.EditDrinks" />
        <activity
            android:name=".activities.Confirm"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.Pay" />
        <activity
            android:name=".activities.AddUser"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AddDrink"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.EditDrinks" />
        <activity
            android:name=".activities.EditDrinks"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.DeleteUser"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AddDrinkToUser"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.Password"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>